.authContainer {
    margin: 10vh auto;
    padding: 25px;
    max-width: 450px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.authContainer h1 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 26px;
    color: #333;
}

.authContainer .sectionDouble {
    display: flex;
    justify-content: space-between;
}

.authContainer .sectionDouble .box {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.authContainer .section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.authContainer .sectionDouble label,
.authContainer .section label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #3e3e3e;
}

.authContainer .sectionDouble .box input,
.authContainer .section input,
.authContainer .section .passwordContainer input {
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    transition: border 200ms ease;
    transition: all 0.3s ease;
    background-color: #f5f5f5;
}

.authContainer .section .passwordContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.authContainer .section .passwordContainer input {
    padding-right: 35px;
}

.authContainer .section .passwordContainer input:focus + .togglePasswordBtn svg {
    fill: #007aff;
}

.authContainer .section .passwordContainer .togglePasswordBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 5px;
    top: 50%;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
    background-color: transparent;
    outline: none;
    border: none;
    align-items: center;
    cursor: pointer;
}

.authContainer .section .passwordContainer .togglePasswordBtn svg {
    width: 100%;
    height: 100%;
    fill: rgba(0, 0, 0, 0.575);
    transition: fill 200ms ease;
}

.authContainer .sectionDouble .box input:focus,
.authContainer .section input:focus {
    background-color: #fff;
    border-color: #007aff;
}

.authContainer .submit {
    background-color: #0061ca;
    color: white;
    border: none;
    width: 100%;
    height: 45px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: all 300ms ease;
    font-size: 16px;
}

.authContainer .submit:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}

.authContainer .text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}